DATABASE_URL="postgresql://postgres:postgres@postgres:5432/ggoo?schema=public"

POSTGRES_DB="ggoo"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
PORT_APP=3000

ORIGIN_PROD="http://localhost:3000/"

SECRET_KEY="your_secret_key_here"